In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv('close_prices.csv')

X = data.drop('date', axis=1)
X.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [3]:
pca = PCA(n_components=10)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [4]:
print(sum(pca.explained_variance_ratio_ ))
X_pca = pca.transform(X)
X_pca.shape

0.988364692911

(374, 10)

In [6]:
dj_index = pd.read_csv('djia_index.csv')
dj_index.head()

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [7]:
X1 = X_pca[:,0]

In [8]:
pirs = np.corrcoef(X_pca[:,0], dj_index['^DJI'])

In [9]:
pirs

array([[ 1.        ,  0.90965222],
       [ 0.90965222,  1.        ]])

In [10]:
X_pca[0]

array([-50.90240358,  17.63167724,   7.7360209 ,   2.59600961,
         2.37756945,   4.24405501,  12.8830885 ,   3.55657041,
        -5.82197358,  -1.72604005])

In [11]:
ind = X.columns
ser = pca.components_[0]

In [12]:
first_comp = pd.Series(ser, index=ind)

In [20]:
first_comp.sort_values(inplace=True, ascending=False)
print(first_comp.head())

V      0.579684
MMM    0.329616
UNH    0.321564
HD     0.288996
GS     0.251227
dtype: float64