In [9]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
from numpy import array
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [10]:
import re
import scipy
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data = data.drop(['Parch', 'Cabin', 'Embarked', 'Ticket', 'Name', 'SibSp'], axis=1)
non_age = np.isnan(data['Age']) == False
data = data[non_age]
data['Sex'] = np.where(data["Sex"] == "female", 0, 1)
expected_output = data['Survived']
data = data.drop('Survived', axis=1)

In [11]:
inputs_train, inputs_test, expected_output_train, expected_output_test = train_test_split(data, expected_output, test_size = 0.33, random_state = 42)

In [12]:
tree = DecisionTreeClassifier(random_state=241)
tree.fit(inputs_train, expected_output_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [13]:
tree.score(inputs_test, expected_output_test)

0.75423728813559321

In [14]:
features = tree.feature_importances_

In [15]:
features

array([ 0.12902669,  0.32124126,  0.31493353,  0.23479852])

In [16]:
inputs_train.head()

             Pclass  Sex   Age      Fare
PassengerId
272               3    1  25.0    0.0000
854               1    0  16.0   39.4000
697               3    1  44.0    8.0500
519               2    0  36.0   26.0000
610               1    0  40.0  153.4625

In [1]:
range(10)

range(0, 10)

In [3]:
for k in range(1:5):
    print(k)

SyntaxError: invalid syntax (<ipython-input-3-4cf48f57b31e>, line 1)